<h2>Cart Summary</h2>

<p> Amount {{cartService.amount}} </p>
<p> Total Items {{cartService.totalItems}} </p>

<p> Today {{today | date:'fullDate' | uppercase}}</p>

<p> Custom format {{today | date:'yyyy/MM/dd' }}</p>

<form (ngSubmit)="save()">
  Full Name 
    <input name="fullName" [(ngModel)]="fullName"

          required
          minlength="2"
    />
  Address
    <textarea name="addr" [(ngModel)]="address" >
    </textarea>
  Email
    <input name="email" type="email" [(ngModel)]="email" />
  Zipcode
    <input name="zip" type="number" [(ngModel)]="zipcode" />

    <button type="submit">Save</button>
</form>


<!-- debug purpose -->
<pre>
  {{cartService.cartItems | json}}
</pre>