<div>
    <h2  appHighlight>Welcome to {{appTitle}}</h2>

    <app-header>
    </app-header>

    <app-home  >
    </app-home>

    <app-cart>
    </app-cart>
 

    <!-- passing data from parent to child using input -->
    <app-footer  [company]="appTitle"
                 [year]="2018 + 2" 
                 [address]="officeAddress"
                 
                 >
    </app-footer>

    <!-- {{expression}} interpolation-Angular -->
    <p>Page Likes</p>
    <span>{{pageLikes}}</span>
    <p>Page Likes + 10 {{pageLikes + 10}}</p>

    <!-- []="expression" property binding -->
    <input [value]="pageLikes"  appHighlight color="green" />

    <button [disabled]="pageLikes % 2 == 1">
        Welcome
    </button>

    <!-- ()="expression" - event binding -->
    <button (click)="increment()">
        +1
    </button>

    <button (click)="pageLikes = pageLikes - 1">
        -1
    </button>

    <button (click)="greeting()">
        Greet
    </button>
</div>
